body {
  margin: 0; /* Elimina el margen predeterminado */

  display: flex; /* Utiliza flexbox para la disposición */

  min-height: 100vh; /* Establece la altura mínima */

  justify-content: center; /* Centra horizontalmente */

  align-items: center; /* Centra verticalmente */
}

